<section>
    <header>
        <div class="header__container">
            <app-nav></app-nav>
            <div class="header__title">
                <h1 class="title">Bus tickets</h1>
                <h4>in Ukraine, Poland and all over Europe</h4>
            </div>

            <div class="search__form_button">
                <div class="search__form">
                    <form>
                        <div class="form__fields">
                            <div class="form__field">
                                <input type="text" name="from" placeholder="from" #directionFrom >
                                <img class="field__img_right" src="../../assets/images/header/direction.svg" alt="">
                            </div>
                            <div class="form__field">
                                <input type="text" name="from" placeholder="To" #directionTo>
                            </div>
                            <div class="form__field">
                                <img class="field__img_left" src="../../assets/images/header/calendar.svg" alt="">
                                <input type="datetime-local" [min]="currentDate |date:'yyyy-MM-ddTHH:mm'" name="date" placeholder="Date" #date>
                            </div>
                            <div class="form__field">
                                <img class="field__img_left" src="../../assets/images/header/user.svg" alt="">
                                <input type="text" min="1" name="numberOfSeats" placeholder="Number of seats" #numberOfSeats>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form__button">
                    <button (click)="searchDirection(date.value, numberOfSeats.value, directionFrom.value, directionTo.value)">Find a tick</button>
                </div>
            </div>
        </div>
    </header>
</section>