<section>
    <div class="container">
         <h3>{{route?.departureFrom}} - {{route?.arrivalTo}}</h3>
       <div class="bus-container">
          <div class="places">
             <label class="seat__box" *ngFor="let seat of seatFirstPart; let i = index">
             <input type="checkbox" (change)="addSeat(seat, i)" [disabled]="seat.isBooked" [checked]="seat.addedToCard">
             <span class="checkmark" [class.booked]="seat.isBooked">{{seat.seatNumber}}</span>
             </label>
          </div>
          <div class="places">
             <label class="seat__box" *ngFor="let seat of seatSecondPart; let i = index">
             <input type="checkbox" (change)="addSeat(seat, i)" [disabled]="seat.isBooked" [checked]="seat.addedToCard">
             <span class="checkmark"  [class.booked]="seat.isBooked">{{seat.seatNumber}}</span>
             </label>
          </div>
       </div>
       <ng-container>
             <form [formGroup]="seatForm">
                   <div [formArrayName]="'seats'">
                      <h3>Intermediate Places</h3>
                         <div class="user__form">
                            <ng-container *ngFor="let seat of seats.controls;let i = index">
                                <div class="user__form_card" [formGroupName]="i">
                                 <h4>Seat number: {{seat.value.number}}</h4>
                                 <div class="intermediate__place_card">
                                       <button (click)="removeSeat(i)">Remove</button>
                                      <div>
                                         <label for="firstName-{{i}}">First Name</label>
                                         <input type="text" id="firstName-{{i}" formControlName="firstName" required>
                                      </div>
                                      <div>
                                         <label for="lastName-{{i}">Last Name</label>
                                         <input type="text" id="lastName-{{i}" formControlName="lastName" required>
                                      </div>
                                      <div>
                                         <label for="email-{{i}">Email</label>
                                         <input type="email" id="email-{{i}" formControlName="email" required>
                                      </div>
                                   </div>
                                </div>
                             </ng-container>
                         </div>
                      </div>
                      <button *ngIf="seats.value.length != 0" (click)="buySeats()">Buy seats</button>
             </form>
             <h4>Total price: {{summary}}</h4>
       </ng-container>
       <pre>{{seatForm.value | json}}</pre>

       <ng-template [ngIf]=" success">
          <h3>Bus seats successfully booked</h3>
          <div class="circle-border"></div>
          <div class="circle">
             <div class="success"></div>
          </div>
       </ng-template>
    </div>
 </section>