<section>
   <div class="buses">
        <ng-container *ngIf="buses.length != 0; else busesEmpty">
            <div *ngFor="let bus of buses">
                <h3>{{bus?.name}}</h3>
                <h4>{{bus?.brand}}</h4>

                <!--<button (click)="checkDirections(bus, directions)">Show directions</button>-->
                <ng-container *ngIf="showDirections && currentBusId == bus.id">
                    <div *ngFor="let direction of directionForBus">
                        <label>{{direction.distance}}</label>
                        <input type="checkbox" (change)="addDirectionToArray(direction)" #direction>
                    </div>
                    <div>
                        <button [disabled]="directionsToAdd.length == 0" (click)="sendDirections()">Add directions</button>
                    </div>
                </ng-container>
            </div>
        </ng-container>
   </div> 
   <hr>
   <div class="create__bus">
        <form (submit)="createBus()">
            <div class="bus__form_field">
                <label for="busName">Bus name</label>
                <input type="text" id="busName" name="busName" [(ngModel)]="bus.name">
            </div>
            <div class="bus__form_field">
                <label for="busBrand">Bus brand</label>
                <input type="text" id="busBrand" name="busBrand" [(ngModel)]="bus.brand">
            </div>
            <div class="bus__form_field">
                <label for="busName">Number of seats</label>
                <input type="input" id="numberOfSeats" name="numberOfSeats" [(ngModel)]="bus.numberOfSeats">
            </div>
           
            <div>
                <button type="submit">Create</button>
            </div>
        </form>
   </div>
</section>
<ng-template #busesEmpty>
    <h2>Buses are empty</h2>
</ng-template>