<section>
    <app-header></app-header>
</section>
<div class="container">
    <section class="privileges__section">
        <div class="privileges">
            <div class="privilege">
                <img src="../../assets/images/icons/road.svg" alt="">
                <h3 class="title">10 000+ directions</h3>
                <p class="description">You can travel almost anywhere in Europe</p>
            </div>
            <div class="privilege">
                <img src="../../assets/images/icons/time.svg" alt="">
                <h3 class="title">Quick booking</h3>
                <p class="description">Book tickets quickly without cashboxes and queues</p>
            </div>
            <div class="privilege">
                <img src="../../assets/images/icons/wallet.svg" alt="">
                <h3 class="title">Secure payment</h3>
                <p class="description">PCI DSS security standards for payment data protection</p>
            </div>
            <div class="privilege">
                <img src="../../assets/images/icons/tickets.svg" alt="">
                <h3 class="title">Return of tickets</h3>
                <p class="description">Return tickets in profile if you could not go even after the route</p>
            </div>
        </div>
    </section>
</div>
