
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bustransportation-client-primary: mat.define-palette(mat.$indigo-palette);
$bustransportation-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bustransportation-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bustransportation-client-theme: mat.define-light-theme((
  color: (
    primary: $bustransportation-client-primary,
    accent: $bustransportation-client-accent,
    warn: $bustransportation-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bustransportation-client-theme);

@import '~normalize.css';
@import 'assets/scss/fonts.scss';

*{
    margin: 0;
    padding: 0;
}


.container{
    max-width: 1840px;
    margin: 0 auto;
}

.header__container {
    max-width: 1300px;
    margin: 0 auto;
  }

@media screen and (max-width: 1366px){
    .container{
        max-width: 1280px;
    }
}
@media screen and (max-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media screen and (max-width: 768px){
    .container{
        max-width: 720px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
