<section>
    <h3>Create trip</h3>
    <form action="" [formGroup]="tripForm">
        <div>
            <label for="bus">Select bus</label>
            <select formControlName="bus" name="bus" id="bus">
                <option></option>
                <option *ngFor="let bus of buses" [ngValue]="bus">{{bus.name}}</option>
            </select>
        </div>
    
        <div>
            <label for="name">Name</label>
            <input type="text" formControlName="name" id="name" required>
        </div>
        <div>
            <label for="departureCity">Departure city</label>
            <input type="text" formControlName="departureCity" id="departureCity" required>
        </div>

        <div *ngIf="bus != null">
            <label for="numberOfSeats">Number of Seats</label>
            <input type="number" formControlName="numberOfSeats" id="numberOfSeats" [(ngModel)]="bus.numberOfSeats" required>
        </div>


        <div>
            <label for="tripType">Trip type</label>
            <select name="tripType" id="tripType" formControlName="tripType">
                <option [value]="'REGULAR'">REGULAR</option>
                <option [value]="'IRREGULAR'">IRREGULAR</option>
            </select>
        </div>

        <div [formArrayName]="'cities'">
            <h3>Intermediate Places</h3>
            <div class="intermediate__places">
                <ng-container *ngFor="let intermediatePlace of cities.controls;let i = index">
                    <div [formGroupName]="i">
                        <div class="intermediate__place_card">
                            <div [formGroupName]="'direction'">
                                <div>
                                    <label for="directionFrom-{{i}}">Direction From</label>
                                    <input type="text" id="directionFrom-{{i}" formControlName="directionFrom" required>
                                </div>
                                <div>
                                    <label for="directionTo-{{i}">Direction To</label>
                                    <input type="text" id="directionTo-{{i}" formControlName="directionTo" required>
                                </div>
                                <div>
                                    <label for="distance-{{i}">Distance in KM</label>
                                    <input type="number" id="distance-{{i}" formControlName="distance" required>
                                </div>
                            </div>
                            <div>
                                <label for="dateOfDeparture-{{i}}">Date of departure</label>
                                <input type="datetime-local" id="dateOfDeparture-{{i}}" required formControlName="dateOfDeparture">
                            </div>
                            <div>
                                <label for="dateOfArrival-{{i}}">Date of arrival</label>
                                <input type="datetime-local" id="dateOfArrival-{{i}}" required formControlName="dateOfArrival">
                            </div>
                            <div>
                                <label for="price-{{i}}">Price</label>
                                <input type="number" id="price-{{i}}" formControlName="price" required>
                            </div>
                            <div>
                                <label for="street">Street</label>
                                <input type="text" formControlName="street" id="street" required>
                            </div>
                            <button (click)="removeIntermediatePlace(i)">Remove</button>
                        </div>
                    </div>
                </ng-container>
            </div>
            <button (click)="addIntermediatePlace()">Add</button>
        </div>
        

        <button (click)="create()">Create</button>
    </form>
    <pre>{{tripForm.value | json}}</pre>
</section>